<div id="div-register-form">
	<table class="table-login-form">
		<tr>
			<td class="td-pre-icon">
				<i class="material-icons">account_circle</i>		
			</td>
			<td class="td-pre-input">
				<input type="text" id="register-input-username" class="login-input" placeholder="Username">
			</td>
		</tr>
		<tr>
			<td class="td-pre-icon">
				<i class="material-icons">lock</i>	
			</td>
			<td class="td-pre-input">
				<input type="password" id="register-input-password" class="login-input" placeholder="Password">
			</td>
		</tr>
		<tr>
			<td class="td-pre-icon">
				<i class="material-icons">email</i>	
			</td>
			<td class="td-pre-input">
				<input type="text" id="register-input-email" class="login-input" placeholder="email">
			</td>
		</tr>
	</table>
	<button
		class="g-recaptcha"
		data-sitekey="6LcpTR4UAAAAAFgTdLwadhrrQFanK4fwtPgvGfUn"
		data-callback="YourOnSubmitFn">
		Submit
	</button>
	<div id="register-error"></div>
	<div id="action-register-button">register</div>
</div>
<div id="div-login-form">
	<table class="table-login-form">
		<tr>
			<td class="td-pre-icon">
				<i class="material-icons">account_circle</i>		
			</td>
			<td class="td-pre-input">
				<input type="text" id="login-input-username" class="login-input" placeholder="Username">
			</td>
		</tr>
		<tr>
			<td class="td-pre-icon">
				<i class="material-icons">lock</i>	
			</td>
			<td class="td-pre-input">
				<input type="password" id="login-input-password" class="login-input" placeholder="Password">
			</td>
		</tr>
	</table>
	<div id="login-error"></div>
	<div id="action-login-button">log in</div>
</div>