<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" href="/static/css/MainStyles.css?always_update=2">
<!-- <link rel="stylesheet" href="/static/css/HeaderStyles.css?always_update=true"> -->
<link rel="stylesheet" href="/static/css/HeaderMain.css?always_update=4">
<link rel="stylesheet" href="/static/css/LoginStyles.css?always_update9=true">
<link rel="stylesheet" href="/static/css/ChooseTasksStyles.css?always_update=4">
<link rel="stylesheet" href="/static/css/ChooseTasksSettingsHeadersStyles.css?always_update=3">
<link rel="stylesheet" href="/static/css/UIStyles.css?always_update=true">
<link rel="stylesheet" href="/static/css/AccountPanelStyles.css?always_update=2">
<link rel="stylesheet" href="/static/css/SpinnerStyles.css?always_update=true">
<link rel="stylesheet" href="/static/css/NiceImage.css?always_update=2">
<link rel="stylesheet" href="/static/css/CompareStyles.css?always_update=3">
<link rel="stylesheet" href="/static/css/LogotypeStyles.css?always_update=3">
<link rel="stylesheet" href="/static/css/MapStyles.css?always_update=5">
<link rel="stylesheet" href="/static/css/about.css?always_update=3">
<link rel="stylesheet" href="/static/css/TopStyles.css?always_update=3">
<link rel="stylesheet" href="/static/css/AddTaskStyles.css?always_update=6">
<link rel="stylesheet" href="/static/css/Training.css?always_update=8">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:200,400,500">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Lato|Cabin:400,700" rel="stylesheet">