<header id="header">
	<table id="header-table">
		<tr>
			<td class="header-logo">
				{{logo |safe}}
			</td>
			<td class="header-tab">
				<div class="header-tab-value" id="header-tab-top">
					top
				</div>
			</td>
			<td class="header-tab">
				<div class="header-tab-value" id="header-tab-tasks">
					tasks
				</div>
			</td>
			<td class="header-tab">
				<div class="header-tab-value" id="header-tab-training">
					<div style="z-index:800; position: relative;">training</div>
					<div id="header-tab-training-notifications">10</div>
				</div>
			</td>
			<td class="header-tab">
				<div class="header-tab-value" id="header-tab-about">
					about
				</div>
			</td>
			<td class="header-tab header-tab-login">
				{{login_panel |safe}}
			</td>
		</tr>
	</table>
</header>