.account-username {
	
}

.add-task-icon {
	position: relative;
	top: 7px;
}

#account-info {
	display: none;
	margin-right: 20px;
	font-family: 'Cabin', sans-serif;
	color: #bdc3c7;
	position: relative;
	top: -2px;
}

#self-account-username {
	display: inline;
}


#add-task-button {
	// margin-right: 40px;
	transition: 0.3s;
	position: relative;
}

#add-task-button:hover {
	cursor: pointer;
	color: #3498db;
}

#self-account-icon {
	position: absolute;
	left: -32px;
	top: -7px;
	border-radius: 50px;
	cursor: pointer;
}

.sub-account-panel {
	margin-left: 40px;
	position: relative;
	display: inline;
}

#add-task-button:after {
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(#000, transparent);
	background-image: -moz-linear-gradient(#000, transparent);
	background-image: -o-linear-gradient(#000, transparent);
	background-image: linear-gradient(#FFF 0%, #bdc3c7 40%, #bdc3c7 60%, #FFF 100%);
	top: -6px;
	bottom: -6px;
	right: -5px;
	width: 1px;
	z-index: 500;
}