table {
	border-spacing: 0px;
}
td {
	padding: 0px;
}

.ava-task-div {
	width: 400px;
	// background: rgb(250, 250, 250);
	background: white;
	position: relative;
	height: 150px;
	z-index: 0;
	border-left: 1px solid #ecf0f1;
	border-bottom: 1px solid rgb(179, 179, 179);
	// border-right: 1px solid rgb(179, 179, 179);
	transition: 0.3s;
}

.ava-task-div:hover {
	border-left: 1px solid #3498db;
}

.ava-task-div-bigger {
	height: 100%;
}

.img-task-preview {
	opacity: 0;
	transition: 0.3s;
	position: absolute;
	z-index: -1;
	width: 300px;
}

.img-task-preview:hover {
	opacity: 1;
}

.task-meta-info-div {
	// font-family: "Graphik Web", Helvetica, Arial, serif, monospace;
	font-family: 'Cabin', sans-serif;
	/*background: rgba(43, 48, 59, 0.6);*/
	background: #ecf0f1;
	position: absolute;
	/*top: 150px;
	width: 290px;
	height: 47px;*/
	bottom: 0px;
	width: 100%;

	padding-top: 3px;
	// color: rgb(230, 230, 230);
	color: rgb(191, 196, 205);
	color: #c0c5ce;
	color: white;
	/*text-shadow: 1px 1px black;*/
	// color: white;
	color: black;
	font-size: 15px;
	font-weight: 400;
}

.task-preview-close-button {
	font-size: 30px;
	margin-left: 1px;
	position: relative;
	top: -4px;
}

.task-preview-close-button:hover {
	color: #e74c3c;
	cursor: pointer;
}

.task-meta-info-div-bigger {
	width: 100%;
}

.task-geopos-div {
	// font-family: "Graphik Web", Helvetica, Arial, serif, monospace;
	font-family: "Cabin", sans-serif;
	// background: #2D373F;
	// background: #A3B0B7;
	padding: 20px;
	padding-top: 16px;
	padding-bottom: 5px;
	font-size: 14px;
	// padding: 30px;
	position: relative;
	color: #95a5a6;
}

.geo-pos-text {
	font-size: 16px;
	color: #3498db;
}

.geo-pos-text:hover {
	cursor: normal;
}

.task-claim-button {
	display: inline;
	// position: relative;
	// top: -6px;
	/*margin-left: 96px;*/
	/*color: #3BA3D0;*/
	/*font-size: 16px;*/
	/*text-decoration: underline;*/
	border: 1px solid white;
	transition: 0.3s;
	padding: 5px;
	padding-right: 6px;
	padding-left: 6px;

	border-radius: 4px;
	color: white;
	font-family: 'Lato', sans-serif;
	background: #2ecc71;
	position: relative;;
	top: -9px;
	// position: absolute;
	// right: 5px;
	// top: 10px;
	// opacity: 0;
}

.ava-task-div:hover .task-claim-button {
	opacity: 1;
}

.task-claim-icon {
	margin-left: 75px;
	font-size: 20px;
	position: relative;
	top: -1px;
}

.task-bookmark {
	display: inline;
	position: relative;
	// top: 6px;
	color: #3498db;
	font-size: 30px;
	content: 'bookmark_border';
}


.task-bookmark:hover {
	cursor: pointer;
}

.task-claim-button:hover {
	cursor: pointer;
	border: 1px solid #797979;
}

.task-meta-panel {
	position: absolute;
	top: 3px;
	right: 3px;
	opacity: 0;
	transition: 0.3s;
	vertical-align: middle;
}

.ava-task-div:hover .task-meta-panel {
	opacity: 1;
}

.task-description-div {
	// font-family: "Graphik Web", Helvetica, Arial, sans-serif, monospace;
	font-family: "Cabin", sans-serif;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 3px;
	color: #797979;
}

.task-poster-account-logo {
	margin-left: 5px;
	width: 30px;
	height: 30px;
	border-radius: 40px;
	border: 1px solid white;
	background: white;
	/*background: black;*/
}

.task-poster-name {
	font-family: 'Cabin', sans-serif;
	color: #bdc3c7;
	display: inline;
	position: relative;
	margin-left: 5px;
	top: -9px;
}

.task-difficuilty-panel {
	display: block;
	position: absolute;
	right: 10px;
	top: 0px;
	color: #bdc3c7;
}

.task-difficuilty-value {
	// color: #797979;
	display: inline;
	// position: absolute;
	top: -7px;
	right: 0px;
}

.task-difficuilty-icon {
	position: relative;
	top: 7px;
	margin-right: 5px;
}

.task-meta-info-div:hover .img-task-preview {
	opacity: 1;
}

.task-meta-info-user {

}

#map {
	width: 600px;
	height: 500px;
}

#map {
	border-left: 2px solid rgb(179, 179, 179);
}

#main-panel-ava-tasks-td {
	overflow-y: scroll;
	// height: 700px;
	table-layout: fixed;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

#task-base {
	position: relative;
}

#task-big-preview {
	position: absolute;
	top: 100px;
	height: 500px;
	left: 200px;
	width: 700px;
	z-index: 900;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: white;
	transition: 0.1s;
}

#task-preview-submit-button {
	position: relative;
}

#task-preview-submit-button-shadow {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
}

.task-user-submissions {
	position: absolute;
	bottom: 40px;
	left: 0px;
	right: 0px;
}

.task-user-submissions-props {
	font-family: 'Cabin', sans-serif;
	color: #3498db;
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	border-bottom: 1px solid #3498db;
}

#task-user-submissions-panel {
	overflow-x: scroll;
	white-space: nowrap;
}

.user-submission-img {
	// opacity: 1;
	animation: image-add-animation 1s ease-in-out;
}

@keyframes image-add-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#td-pre-map {
	width: 100%;
}

#div-pre-map {
	margin-left: 10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.table-filters-table {
	width: calc(100% - 60px);
	background: rgb(255, 255, 255);
	margin: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.table-tasks-table {
	width: 100%;
	width: calc(100% - 60px);
	margin: 30px;
	margin-top: 0px;
	// box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}