.button {
	display: inline;
	// position: relative;
	border: 1px solid white;
	transition: 0.3s;
	padding: 5px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 4px;
	color: white;
	font-family: 'Lato', sans-serif;
	background: #2ecc71;
}